.chatmsg_wrapper {
  padding: 5px;
  color: white;
  width: 100%;
  background-color: #333333;
  border-radius: 10px;
  word-wrap: break-word;
  margin-bottom: 10px;
  .chat_item {
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 60px 200px;
    .avatar_img {
      grid-row: 1;
      align-self: center;

      width: 50px;
      height: 50px;
    }
    .username {
      align-self: center;
      font-weight: bold;
    }
    .chatmsg {
      grid-column: 2;
    }
  }
}
